body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgb(240,222,240);
}
.ph{
    border-radius: 50%;
    border:0.5px solid black;
} 
.head{
    background-color: burlywood;
    justify-content: center;
}
.whole{
    width:320px;
    max-width:90%;
    text-align:center;
    border:0.3px solid black;
    border-radius:15%;
    background-color:bisque;
    padding:20px;
}
.info{
    width: 200px;
    margin:  20px auto;
    text-align: left;
}
.info p{
    margin: 12px 0;

}
.info span{
    display: inline-block;
    width: 60px;

}